/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    background-color: #f8f9fa;
    color: #444;
    background-image: url('https://www.shutterstock.com/image-vector/light-yellow-vector-colorful-blur-260nw-1532125499.jpg');
}

/* Hero section */
.hero {
    background-image: url('https://www.shutterstock.com/image-vector/light-yellow-vector-colorful-blur-260nw-1532125499.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: #ff7f50;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #ff6347;
}

/* Navbar styling */
.navbar {
    text-align: center;
    margin-bottom: 50px;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a {
    color: #ff7f50;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
}

.navbar ul li a:hover {
    color: #000000;
}

/* Section styling */
.section {
    margin: 50px 0;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Services section */
.services-section {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.service-card {
    flex-basis: 30%;
    background-color: #ff7f50;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Form styling */
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.submit-button {
    background-color: #ff7f50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #ff6347;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
